services:
    app:
        build:
            context: .
        ports:
            - '5173:5173'
        environment:
            - PORT=5173
            - CHOKIDAR_USEPOLLING=true
        volumes:
            - .:/app
            - node_modules:/app/node_modules
        command: npm run dev

volumes:
    node_modules: {}
